// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;


$dark: #062743;
$light: #113A5D;
$highlight: #FF7A8A;
$border: #E9E9E9;
// $background: #F9F9F9;
$background: white;



$dark-grey: #646464;
$grey: #969696;
$light-grey: #DCDCDC;

$black: #333333;
