<div class="container-white">
  <h1> Les articles </h1>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="card">
        <%= link_to cl_image_tag(article.photo, height: 300, width: 300, crop: :fill) , article_path(article) %>
        <h3> <%= link_to article.title , article_path(article)  %> </h3>
        <p class="italic"> <%= article.chapo  %> </p>
        <p> <%=  truncate(sanitize(article.content,tags: []), :length => 150 , :separator => ' ') %> </p>
        </div>
      </div>
    <% end  %>
  </div>
</div>

