<%  tags = ActsAsTaggableOn::Tag.all %>
<% raw(ActsAsTaggableOn::Tag.all.map { |t| link_to t, tag_path(t.name) }.join(', ')) %></p>
<% alpha = ('a'..'z').to_a%>
  <% alpha.each do |letter| %>
    <%  tags.each do |tag| %>
      <%  if tag.name.start_with? letter%>
        <ul>
          <%= link_to tag, tag_path(tag.name), class: 'link-tags' %>
        </ul>
      <% else %>
    <% end %>
  <% end %>
<% end  %>
