/* -------------------------------------
 * My CSS code for the articles of my index
* ------------------------------------- */


.card {
  border-style: dotted;
  border-radius: 5px;
  height: 570px;
  margin: 10px;
}

.italic {
  font-style: italic;
}
