#main-navigation {
  padding: 1em 5%;
  border-bottom: 1px solid $border;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left-nav {
    display: flex;
    align-items: center;
  }
  .name {
    font-weight: 400;
    font-size: 1em;
    text-transform: uppercase;
    border: 1px solid $border;
    padding: 0.75em 1rem;
    text-decoration: none;
    border-radius: 5px;
    color: $highlight;
    letter-spacing: 4px;
  }
  .social {
    padding: 0 .9rem;
    text-decoration: none;
    color: $highlight;
  }
  .link-nav {
    color: $dark;
    text-decoration: none;

    margin: 0 1rem;
    padding: 0em 1rem;
    font-size: 1.6rem;
  }
  .link-nav:hover {
    color: $light;
    border-bottom: 4px solid $highlight;
  }
}
